.table-button-container {
  text-align: center;
}

.table-button-container button {
  margin: 0.5rem;
}

td {
  padding-left: 10px;
}

button {
  width: 60px;
  color: white;
}

.edit-button {
  background-color: blue;
}

.delete-button {
  background-color: red;
}